<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shows_Downloaded.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Shows_Downloaded.Properties.Settings.Shows_To_DownloadConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Shows To Download.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Shows_Downloaded.Properties.Settings.showstodownloadConnectionString"
            connectionString="server=192.168.1.100;user id=Shane;password=kodiak;persistsecurityinfo=True;database=showstodownload"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Shows_Downloaded.Properties.Settings>
            <setting name="ShowOnHiatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCancelled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListColumnSizes" serializeAs="String">
                <value>30;200;100;75;100;100;100;100;100</value>
            </setting>
            <setting name="ShowSkippedWeek" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorDownloaded" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="ColorSkipped" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ColorNotDownloaded" serializeAs="String">
                <value>Tomato</value>
            </setting>
            <setting name="ColorMissedWeek" serializeAs="String">
                <value>HotPink</value>
            </setting>
        </Shows_Downloaded.Properties.Settings>
    </userSettings>
</configuration>
